
{% extends 'base.html' %}
{% load static %}
{% block content %}

								<section id="banner">
                                    <div class="content">
									<header >
										<h2>{{ request.user.username}}</h2>
									</header>
									<p>{{request.user}}</p>
                                        <p>{{request.user.date_joined}}</p>

                                    </div>
                                <span class="image object">
                                    <img src="{{request.user.image.url }}" style="width: 500px; height: 500px;" alt=""/>
                                </span>

								</section>

{% endblock %}